@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: muli;
  box-sizing: border-box;
}

.navbar {
  background-color: #fff !important;
}


.navbar-brand {
  font-size: 1.9rem !important;
  color: #565387;
  animation: updown 1s ease-in-out infinite alternate-reverse both;
  animation: rotation linear 5s ease-in;
  animation-iteration-count: 2;
}

.navbar a {
  font-size: 1.3rem;
  text-transform: capitalize;
}

.menu_active {
  font-weight: bold;
  border-bottom: 1px solid #565387;
}

.navbar a:hover {
  color: #3498db !important;
}

@media (max-width: 991px) {
  .navbar-brand {
    font-size: 1.5rem !important;
  }
  .menu_active {
    font-weight: bold;
    border-bottom: none;
  }
}

/* Home*/
/*###################################################################################################################################### */
/* #header {
  width: 100vw;
  height: 80vh;
  margin-top: 70px;
}

#header h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  color: black;
}

#header .brand-name {
  color: #3498db;
}

#header h2 {
  color: #484848;
  font-size: 24px;
}

#header .btn-get-started {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #565387;
  border: 2px solid #565387;
  text-decoration: none;
}

#header .space{
  margin-right: 8rem;
}

#header .btn-get-started:hover {
  color: white;
  background-color: #565387;
  border: 2px solid white;
}

.header-img {
  background-color: white;
  padding-left: 5rem;
  text-align: right;
}
#header .animated {
  /* animation: updown 1s ease-in-out infinite alternate-reverse both; */
  /* animation: rotation linear 5s infinite;
} */ 

@keyframes rotation {
  
  100% {
    transform: rotate(360deg);
  }
}


.row{
  --bs-gutter-x: 0 !important;
}

.heading{
  font-size: 3rem;
  color: goldenrod;
  text-shadow: 5px 5px 5px goldenrod;
}